.container {
    position: absolute;
    left: 100%;
    margin-left: 20px;
    background: rgba(19, 21, 30, 0.8);
    border-radius: 2px;
    width: 0;
    height: 0;
    /* overflow: hidden; */
    transition: width .4s, height .4s;
    /* transition: width 10s, height 10s; */
}

.containerActive {
    composes: container;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.container .content {
    display: none;
}

.containerActive .content {
    display: block;
    width: 100%;
    height: 100%;
}


/* .content {
    overflow: hidden;
}

.container::before {
    content: "";
    display: none;
}

.container::after {
    content: "";
    display: none;
}

.containerActive::before {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: -10px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid rgba(19,21,30,1);
    z-index: 99;
}

.containerActive::after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    left: -11px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid rgba(255,255,255,0.3);
    z-index: 98;
} */