.container {}

.thumbnail {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(19, 21, 30, 0.8);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    /* opacity: 0; */
    transition: width .4s;
}

.thumbnail i {
    font-size: 26px;
    color: #fff;
}

.thumbnailActive {
    composes: thumbnail;
    width: 0;
    /* opacity: 1; */
}


/*滚动条样式*/

.log-list::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

.log-list::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgba(75, 80, 104, 1);
}