.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
}

.map {
    width: 100%;
    height: 100%;
}

.rootArea {
    position: absolute;
    left: 20px;
    top: 100px;
}

.devicePanel {
    position: absolute;
    left: 20px;
    bottom: 180px;
    transition: bottom .4s;
}

.devicePanelMoved {
    composes: devicePanel;
    bottom: 470px;
}

.area {
    position: absolute;
    left: 20px;
    bottom: 100px;
    transition: bottom .4s;
}

.areaMoved {
    composes: area;
    bottom: 390px;
}

.systemFilter {
    position: absolute;
    left: 20px;
    bottom: 20px;
    transition: bottom .4s;
}

.systemFilterMoved {
    composes: systemFilter;
    bottom: 310px;
}

.leftList {
    position: absolute;
    left: 0;
    top: 50%;
}