html,
body,
#root {
    margin: 0;
    padding: 0;
    background-color: #fafafa !important;
    width: 100%;
    height: 100%;
}

.root {
    overflow: initial;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

input {
    -webkit-appearance: none;
}