.container {
    width: 100%;
    height: 100%;
    background: rgba(19, 21, 30, 0.7);
    border-radius: 2px;
    transition: width .4s;
}

.headerWrapper {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    overflow: hidden;
}

.header {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.headerLeft {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    width: 50%;
}

.headerLeft img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: sub;
}

.headerRight {
    display: inline-block;
    width: 50%;
}

.content {
    height: calc(100% - 50px);
    overflow: hidden;
}