.container {
    width: 100%;
    height: 80px;
    position: absolute;
    background: linear-gradient(180deg, rgba(23, 25, 37, 1) 0%, rgba(42, 46, 66, 0.1) 100%);
    z-index: 100;
}

.container>div {
    display: inline-block;
    height: 100%;
}

.weather {
    width: 200px;
}

.actions {
    width: 200px;
}

.menusWrapper {
    width: calc(100% - 400px);
    vertical-align: top;
    text-align: center;
}

.menus {
    /* width: 1514px;
    margin: 0 auto; */
}

.menus>div {
    display: inline-block;
    margin-top: 20px;
}

.menuItemWrapper {
    /* width: 570px; */
    vertical-align: top;
}

.menuItem {
    width: 213px;
    height: 46px;
    line-height: 46px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: left;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.65;
}

.menuItemLeft {
    composes: menuItem;
    background-image: url("/static/imgs/header/situation-left.png");
}

.menuItemRight {
    composes: menuItem;
    background-image: url("/static/imgs/header/situation-right.png");
}

.menuItemLeftActive {
    composes: menuItem;
    background-image: url("/static/imgs/header/situation-left-active.png");
    opacity: 1;
}

.menuItemRightActive {
    composes: menuItem;
    background-image: url("/static/imgs/header/situation-right-active.png");
    opacity: 1;
}

.menuItem img {
    width: 20px;
    height: 20px;
    margin-right: 13px;
    margin-left: 34px;
    vertical-align: sub;
}

.title {
    width: 374px;
    padding: 0 15px;
    margin: 0 85px;
}

.title img {
    width: 100%;
    height: 100%;
}